
<form id="sf{{ searchdata.species.scientific_name|hash_key }}" action = "/pet/manage" method=post>
   <fieldset>
      {{ form.hidden_tag() }}
      <input id="species-scientific_name" name="species-scientific_name" type="hidden" value="{{ searchdata.species.scientific_name }}"> 

<label>Scientific Name:</label> {{ searchdata.species.scientific_name }}
<br>

{% if searchdata.common|length > 0 %}
<label>Common Names:</label>
{% for c in searchdata.common %}
  {{ c.common_name }}{%- if not loop.last -%},{% endif %}
{% endfor %}
<br>
{% endif %}

{% if variety %}
   <input id="pet-variety" name="pet-variety" type="hidden" value="{{ variety }}">
<label>Variety:</label>  {{ variety }}
<br>
{% endif %}

{% if searchdata.species.iucn_category|length > 0 %}
<label>IUCN Classification:</label>
   {{ classifications[searchdata.species.iucn_category] or searchdata.species.iucn_category }}
:
   <a target="_blank" href="http://apiv3.iucnredlist.org/api/v3/taxonredirect/{{ searchdata.species.iucn_id }}">IUCN Red List ({{ searchdata.species.iucn_id }})</a>
<br>
{% endif %}

{% if searchdata.species.cares_category |length > 0 %}
<label>Cares Classification:</label>
   {{ classifications[searchdata.species.cares_category] or searchdata.species.cares_category }}
:
   <a target="_blank" href="{{ searchdata.species.cares_link }}">CARES Website</a>
<br>
{% endif %}

{% if searchdata.links |length > 0 %}
<label>Links:</label>
{% for link in searchdata.links %}
  <a target="_blank" href="{{ link.url }}">{{ link.source }}</a>{%- if not loop.last -%},{% endif %}
{% endfor %}
<br>
{% endif %}

<label>Timestamp:</label> {{ searchdata.species.timestamp }}
<p>
<p>
<label>Actions</label>
<a target="_blank" href="https://www.google.com/search?q={{ searchdata.species.scientific_name|quote_plus }}&tbm=isch">
   Google image search
</a>
&nbsp;:&nbsp; 
<a onclick="document.getElementById('sf{{ searchdata.species.scientific_name|hash_key }}').submit();">
   Add to collection
</a>
<br>

   </fieldset>
</form>

