{% extends "dashboard_base.html" %}

{% block content %}
{% for pet in petdata %}
<p>
id: {{ pet.pet_id }}<br>
description: {{ pet.description }}<br>
start: {{ pet.start }} : end: {{ pet.end }}<br>
scientific_name: {{ pet.species[0].scientific_name }}<br>
common_name: {{ pet.species[0].common_name }}<br>
endangered_status: {{ pet.species[0].endangered_status }}<br>
iucn_category: {{ pet.species[0].iucn_category }}<br>
iucn_id: {{ pet.species[0].iucn_id }}<br>
cares: {{ pet.species[0].cares }}<br>
genus: {{ pet.species[0].genus }}<br>
species: {{ pet.species[0].species }}<br>
notes:<br>
{% for note in pet.notes %}
  <p>
     public: {{ note.public }} timestamp: {{ note.timestamp }}<br>
     note: {{ note.note }}
  </p>
{% endfor %}
</p>
<hr>
{% endfor %}
{% endblock %}
