{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ super() }}
Dashboard
{% endblock %}

{% block meta %}
{{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('ui.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{{ super() }}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">MyPetsDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('ui.manage_pet') }}">New Pet</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile - {{ name }}</a></li>
            <li><a href="{{ url_for('ui.logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right" action={{ url_for('ui.dashboard') }} method=post>
             {{ searchform.searchdata(class_="form-control") }} <a href='/dashboard'><span class="glyphicon glyphicon-refresh" style="padding-left: 4px;" aria-hidden="true"></span></a>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-10 col-md-offset-1 main">
{% block inner_content %}
{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}

