{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
{{ super() }}
MyPetsDB
{% endblock %}

{% block meta %}
{{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('ui.static', filename='dashboard.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{url_for('ui.static', filename='bootbox.min.js')}}"></script>
{% endblock %}

{% block content %}
{{ super() }}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
<!--            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand" href="/dashboard">MyPetsDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
               <form class="navbar-form navbar-left" action={{ url_for('search.search_species') }} method=post>
                  <div>{{ searchform.speciessearch(class_="form-control") }} <a href='/dashboard'><span class="glyphicon glyphicon-refresh" style="padding-left: 4px;" aria-hidden="true"></span></a></div>
               </form>
            </li>

            <li>
               <form class="navbar-form navbar-right" action={{ url_for('ui.dashboard') }} method=post>
                  <div>{{ searchform.petsearch(class_="form-control") }} <a href='/dashboard'><span class="glyphicon glyphicon-refresh" style="padding-left: 4px;" aria-hidden="true"></span></a></div>
               </form>
            </li>
            <li><a href="{{ url_for('profile.profile') }}">Profile - {{ name }}</a></li>
            <li><a href="{{ url_for('ui.help') }}">Help</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
{% block inner_content %}
{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}

