{% extends "dashboard_base.html" %}

{% block content %}

   <form action = "/pet/manage" method=post>
      <fieldset>
         {{ form.hidden_tag() }}
         <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            {{ form.species.scientific_name.label }} {{ form.species.scientific_name }}
            <br>
            {{ form.pet.variant.label }} {{ form.pet.variant }}
            <br>
            {{ form.pet.collection_point.label }} {{ form.pet.collection_point }}
            <br>
            {{ form.pet.start.label }} {{ form.pet.start }} : {{ form.pet.end.label }} {{ form.pet.end }}
            <br>
               
            {{ form.pet.desc.label }}<br>
            {{ form.pet.desc }}
            <br>

            {{ form.pet.public.label }} {{ form.pet.public }}
            <br>

            {{ form.submit }}
         </div>
            
      </fieldset>
   </form>

{% endblock %}

