{% extends "dashboard_base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block inner_content %}

{% if petdata is defined and petdata.pet.pet_id is not none %}
   <form action = "/pet/manage/{{ petdata.pet.pet_id }}" method=post>
{% else %}
   <form action = "/pet/manage" method=post>
{% endif %}
      {{ form.hidden_tag() }}
      <input id="species-scientific_name" name="species-scientific_name" type="hidden" value="{{ form.species.scientific_name.data }}">
      <div class="container">
         <div class="row">
            <div class="col-sm-3 col-med-3 col-lg-2">
               <label>{{ form.species.scientific_name.label }}</label>
            </div>
            <div class="col-sm-9 col-med-9 col-lg-9 col-xl-9">
               {{ form.species.scientific_name.data }}
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3 col-med-3 col-lg-2">
               <label>{{ form.pet.desc.label }}</label>
            </div>
            <div class="col-sm-9 col-med-9 col-lg-9 col-xl-9">
               <input class="form-control" id="pet-desc" name="pet-desc" type="text" value="{{ form.pet.desc.data }}">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3 col-med-3 col-lg-2">
               <label>{{ form.pet.variety.label }}</label>
            </div>
            <div class="col-sm-9 col-med-9 col-lg-9 col-xl-9">
               <input class="form-control" id="pet-variety" name="pet-variety" type="text" value="{{ form.pet.variety.data }}">
            </div>
         </div> 
         <div class="row">
            <div class="col-sm-3 col-med-3 col-lg-2">
               <label>{{ form.pet.collection_point.label }}</label>
            </div>
            <div class="col-sm-9 col-med-9 col-lg-9 col-xl-9">
               <input class="form-control" id="pet-collection_point" name="pet-collection_point" type="text" value="{{ form.pet.collection_point.data }}">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3 col-med-3 col-lg-2">
               <label>{{ form.pet.public.label }}</label>
            </div>
            <div class="col-sm-1 col-med-1 col-lg-1">
               {{ form.pet.public }}
            </div>
         </div>
         <div class="row">
            <div class="btn-group col-sm-9 col-med-9 col-lg-9 col-xl-9" role="group">
               <button class="btn btn-primary" name="submit" id="submit" value="Submit" type="submit">Submit</button>
               <button class="btn btn-secondary" name="cancel" id="cancel" value="Cancel" type="submit">Cancel</button>
            </div>
         </div>
      </div>
   </form>

{% endblock %}

