
<form id="f{{ searchdata.species.scientific_name|hash_key }}" action = "/pet/manage" method=post>
   <fieldset>
      {{ form.hidden_tag() }}
      <input id="species-scientific_name" name="species-scientific_name" type="hidden" value="{{ searchdata.species.scientific_name }}">

<label>Scientific Name:</label> {{ searchdata.species.scientific_name }}
<br>
<label>IUCN Classification:</label>
{% if searchdata.species.iucn_category|length > 0 %}
   {{ classifications[searchdata.species.iucn_category] or searchdata.species.iucn_category }}
   <br>
   <label>IUCN ID:</label><a target="_blank" href="http://apiv3.iucnredlist.org/api/v3/taxonredirect/{{ searchdata.species.iucn_id }}">{{ searchdata.species.iucn_id }}</a>
{% else %}
   N/A
{% endif %}
<br>
<label>Cares Classification:</label>
{% if searchdata.species.cares_category |length > 0 %}
   {{ classifications[searchdata.species.cares_category] or searchdata.species.cares_category }}
   <br>
   <a target="_blank" href="{{ searchdata.species.cares_link }}">CARES Website</a>
{% else %}
   N/A
{% endif %}
<br>
<label>Timestamp:</label> {{ searchdata.species.timestamp }}
<p>
<p>
<label>Actions</label>
<a target="_blank" href="https://www.google.com/search?q={{ searchdata.species.scientific_name|quote_plus }}&tbm=isch">
   Google image search
</a>
&nbsp;:&nbsp; 
<a onclick="document.getElementById('f{{ searchdata.species.scientific_name|hash_key }}').submit();">
   Add pet to collection
</a>
<br>

   </fieldset>
</form>

